@import '~antd/dist/antd.css'
@import 'vuetify.min.css'

//css debug
//*
//  outline: solid #f00 1px !important


$primary: #5F73C2
$second: #1890ff

$xs: 600px
$sm: 960px
$md: 1264px
$lg: 1904px

body
  margin: 0 !important
  padding: 0 !important
  background-color: $primary

.todo
  &-input
    &-button
      width: 100%
      color: white
  &-list
    &-input
      max-width: 200px
      @media(max-width: $xs)
        max-width: 155px
    &-item
      width: 100%
      @media(max-width: $xs)
        padding-left: 0 !important
        padding-right: 0 !important
      &-container
        width: 100%
      &-input
        border: 1px solid transparent
        &:focus
          border: 1px solid $primary
          // handle edit completed task
          color: inherit !important
          text-decoration: none !important
        &:hover
          box-shadow: 0 0 0 2px rgba($primary, 0.2) !important
      &-button-complete
        background-color: $primary !important
      &-button-todo
        background-color: white !important
        &:hover
          background-color: $primary !important

// fix clear button position
.ant-picker-clear
  right: 7px !important

// responsive for mobile
.ant-card-body
  @media (max-width: $xs)
    padding-top: 0 !important
    padding-bottom: 0 !important

.alert-enter
  opacity: 0
  transform: scale(0.9)

.alert-enter-active
  opacity: 1
  transform: translateX(0)
  transition: opacity 300ms, transform 300ms

.alert-exit
  opacity: 1

.alert-exit-active
  opacity: 0
  transform: scale(0.9)
  transition: opacity 300ms, transform 300ms

.line
  @media (min-width: $sm)
    // antd small date picker height(24px/2)
    transform: translateY(12px)
    transition: all 600ms
