@import '~antd/dist/antd.css'
@import 'vuetify.min.css'

$primary: #5F73C2
$second: #5F73C2

body
  margin: 0 !important
  padding: 0 !important
  background-color: $primary

.todo
  &-input
    &-button
      width: 100%
      color: white
  &-list
    &-item
      width: 100%
      padding-right: 0!important
